<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PHP Dischi JSON</title>
  <!-- Bootstrap style -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <!-- Bootstrap Icons -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <!-- Custom style -->
  <link rel="stylesheet" href="./style/style.css">
</head>
<body>

  <div id="app">

    <header class="bg-dark py-3">
      <div class="container d-flex justify-content-between align-items-center">
        <img src="./assets/logo-small.svg" alt="Logo" class="logo">

        <i v-if="!showForm" @click="toggleForm" id="add-icon" class="bi bi-plus-circle text-light"></i>
        
        <form v-if="showForm" action="./functions/albums.php" method="post" class="d-flex">
          <input type="text" name="title" placeholder="Titolo" class="form-control me-2" required>
          <input type="text" name="author" placeholder="Autore" class="form-control me-2" required>
          <input type="number" name="year" placeholder="Anno" class="form-control me-2" required>
          <input type="text" name="genre" placeholder="Genere" class="form-control me-2" required>
          <input type="text" name="poster" placeholder="URL Poster" class="form-control me-2" required>
          <button type="submit" class="btn btn-success me-2">Aggiungi</button>
          <button type="button" @click="toggleForm" class="btn btn-secondary">Annulla</button>
        </form>
      </div>
    </header>

    <main class="container">
      <h1 class="text-center">PHP Dischi Json</h1>
      <div v-if="albums.length > 0" class="row justify-content-center">
        <div class="col-md-4 col-lg-3 mb-4" v-for="album in albums" :key="album.title">
          <div class="card mt-4 h-100">
            <img :src="album.poster" class="card-img-top" alt="Poster">
            <div class="card-body text-center">
              <h5 class="card-title">{{ album.title }}</h5>
              <p class="card-text">{{ album.author }}</p>
              <p class="card-text">{{ album.year }}</p>
              <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#albumModal" @click="showAlbumDetails(album)">Mostra dettagli</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="albumModal" tabindex="-1" aria-labelledby="albumModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="albumModalLabel">{{ selectedAlbum.title }}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
              <img :src="selectedAlbum.poster" class="img-fluid mb-3" alt="Poster">
              <p><strong>Autore:</strong> {{ selectedAlbum.author }}</p>
              <p><strong>Anno:</strong> {{ selectedAlbum.year }}</p>
              <p><strong>Genere:</strong> {{ selectedAlbum.genre }}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
            </div>
          </div>
        </div>
      </div>
    </main>
  
  </div>

  <!-- VueJS script -->
  <script src="https://unpkg.com/vue@3"></script>
  <!-- Axios script -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <!-- Bootstrap script -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" 
  crossorigin="anonymous"></script>
  <!-- Custom script -->
  <script src="./js/app.js"></script>
</body>
</html>
